{% extends 'quotes/base.html' %}

{% block content %}
  <a href="/" class="back-button">← TO MAIN</a>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center-1">You are out!!!</h1>
          </div>
          <div class="card-body">
            <p class="text-center-1">Thank you for using our site. We will be glad to see you again!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

